.card {
  border-radius: 3px;
  margin: 4px;
  display: inline-block;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.13);
  width: 365px;
}

.card__slider {
  width: 365px;
  height: 224px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.card__content {
  padding: 16px;
  text-align: left;
}

.card__content__divider {
  margin: 16px 0;
}

.card__content__header {
  display: flex;
  justify-content: space-between;
}

.card__content__title {
  flex: 3;
  font-size: 16px;
  line-height: 1.4;
}

.card__content__price {
  flex: 1;
  font-size: 20px;
  font-weight: 600;
  text-align: right;
}

.card__content__body__rating {
  padding: 4px 0;
}

.card__content__body__rating__count {
  padding-left: 4px;
}

.card__content__body__rating__count::before {
  content: '('
}

.card__content__body__rating__count::after {
  content: ')'
}
